* {
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background: #050505;
  color: #00ff9c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  position: absolute;
  color: #00ff9c;
  font-size: 18px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% { opacity: 0.3; }
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border: 1px solid #00ff9c;
  box-shadow: 0 0 20px #00ff9c;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 13px;
}

.chatbox {
  background: #000;
  border: 1px solid #00ff9c;
  height: 150px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.chatbox div {
  margin-bottom: 6px;
}

input, button {
  width: 100%;
  padding: 8px;
  background: #000;
  border: 1px solid #00ff9c;
  color: #00ff9c;
  margin-bottom: 8px;
}

button:hover {
  background: #00ff9c;
  color: #000;
}

.calculator {
  margin-top: 10px;
}

#calcDisplay {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.clear {
  grid-column: span 4;
  background: darkred;
  color: white;
}

footer {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
